//MY THEME COLORS
$main-color:        #9926f0;
$sub-color:         #bb6ef5;
$main-font-family:  'Poppins', sans-serif;



//CUSTOM BOOTSTRAP
$primary:           $main-color;
$secondary:         $sub-color;
$font-family-base:  $main-font-family;